.Home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Home-Logo{
    border-radius: 60em;
    height: 70vh;
    transition: transform .2s;
}

.Home-Logo:hover{
    transform: scale(1.05);
}