.page{
    background-image: url('../media/leech-party.png');
    background-repeat:repeat;
    height: 100vh;
}
.Home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.logo{
    border-radius: 60em;
    height: 70vh;
    transition: transform .2s;
}

.logo:hover{
    transform: scale(1.05);
}