.Navbar{
    background-color: rgba(240, 61, 147, 0.733);
    width: 200vw;
    position: fixed;
    z-index:999999;
    left: 0em;
    height: 8vh;
}

.nav-content{
    display: flex;
    position: fixed;
    left: 8em;
}
.text{
    padding: 1em;
    padding-right: .5em;
    text-decoration: none;

}

.back-to-home{
    height: 8vh;
    position: fixed;
    left: 0em;
    padding-left: 1em;
    padding-top: 0em;
}
.nav{
    text-decoration: none;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav:visited{
    color: white;
}

.nav:hover{
    color:rgb(216, 0, 151);
}

.nav:active{
    color:rgb(216, 0, 151);
}

.active{
    color:rgb(216, 0, 151);
}