.Navbar{
    background-color: rgba(253, 159, 204, 0.733);
    top: 0;
    margin: 0;
    right: 0em;
    bottom: 44em;
    left: 0em;
    position: fixed;
}

.nav-content{
    display: flex;
    padding-left: 55em;
    position: fixed;
}
.text{
    padding: 1em;
    padding-right: .5em;
    text-decoration: none;

}

.back-to-home{
    height: 7vh;
    position: fixed;
    left: 0em;
    padding-left: 1em;
    padding-top: .2em;
}
.nav{
    text-decoration: none;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav:visited{
    color: white;
}

.nav:hover{
    color:rgb(216, 0, 151);
}

.nav:active{
    color:rgb(216, 0, 151);
}

.active{
    color:rgb(216, 0, 151);
}