.Navbar{
    display: flex;
    float: right;
    background-color: rgba(255, 222, 238, 0.733);

}


.text{
    padding: 1em;
    padding-right: .5em;
    text-decoration: none;

}


.nav{
    text-decoration: none;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav:visited{
    color: white;
}

.nav:hover{
    color:rgb(250, 31, 122);
}

.nav:active{
    color:rgb(250, 31, 122);
}

.active{
    color:rgb(250, 31, 122);
}